@font-face {
    font-family: "gong";
    src: url("./font/Gong\ Gothic\ Medium.ttf");
}

@font-face {
    font-family: "nanum";
    src: url("./font/NanumSquareRoundB.ttf");
}

@font-face {
    font-family: "gongli";
    src: url("./font/Gong\ Gothic\ Light.ttf");
}

@font-face {
    font-family: "main";
    src: url("./font/HS두꺼비체.ttf");
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #4a4a4a;
}

h4 {
    position: relative;
    left: 270px;
    bottom: 170px;
    font-size: large;
}

.all-area {
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    margin-bottom: 200px;
}

#v-r {
    position: absolute;
    width: 0px;
    height: 700px;
    left: 415px;
    color: #000;
}

#title-name {
    margin-left: 90px;
    width: 505px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "nanum";
}

.service-question {
    position: relative;
    font-family: "gongli";
    left: 150px;
}

#title-size {
    position: relative;
    font-family: "gongli";
    font-size: large;
    width: 1000px;
    height: 500px;
    margin-left: 60px;
    top: 10px;
    resize: none;
}

#label-size {
    position: relative;
    font-family: "gongli";
    bottom: 475px;
}

#label-size-email {
    position: relative;
    font-family: "gongli";
    bottom: 10px;
}

#title-size-email {
    position: relative;
    font-family: "gongli";
    font-size: small;
    left: 15px;
    width: 505px;
    height: 30px;
    margin-left: 60px;
    margin-top: 30px;
    bottom: 10px;
}

#button-submit {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 40px;
    background-color: #008299;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: none;
    font-family: "gongli";
    font-size: medium;
    margin-top: 80px;
}

.lineset {
    position: relative;
    top: 30px;
}

#mamber-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mamber-box-position {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

.answer-question {
    position: relative;
    font-family: "gongli";
    font-size: small;
    color: #4a4a4a;
    left: 60px;
    padding: 5px 365px 10px 0px;
}

.my_idea_option_choise {
    position: relative;
    left: 250px;
    top: 300px;
}