/* tags */
ul {
    list-style: none;
  }
  span {
    /* width: 5px; */
    color: white;
  }
  hr {
    text-align: center;
    border-color: #f2f4f641;
  }
  label,
  input {
    display: inline-block;
  }
  
  /* font */
  @font-face {
    font-family: "gong";
    src: url("/img&font/font/Gong\ Gothic\ Medium.ttf");
  }
  @font-face {
    font-family: "nanum";
    src: url("/img&font/font/NanumSquareRoundB.ttf");
  }
  @font-face {
    font-family: "gongli";
    src: url("/img&font/font/Gong\ Gothic\ Light.ttf");
  }
  @font-face {
    font-family: "main";
    src: url("/img&font/font/HS두꺼비체.ttf");
  }
  
  .container {
    position: relative;
  }
  
  /*login*/
  .main_login {
    font-family: "nanum";
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 85%;
  }
  
  /*search*/
  #wrap {
    position: absolute;
    left: 80%;
    top: 48%;
  }
  
  #search {
    height: 20px;
    font-size: 15px;
    font-family: "nanum";
    border: none;
    border-radius: 15px;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    width: 170px;
    position: absolute;
    right: 51px;
    z-index: 3;
    cursor: pointer;
    text-align: center;
  }
  
  #search:focus {
    width: 170px;
    z-index: 1;
    cursor: text;
    position: absolute;
    right: 50px;
    background-color: white;
  }
  #search_submit {
    height: 25px;
    width: 30px;
    color: red;
    float: right;
    background: url("./search.svg") no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 2;
    cursor: pointer;
  }
  
  #search_submit:hover {
    opacity: 0.4;
  }
  
  ul li {
    list-style: none;
    padding-inline-start: 0px;
  }
  
  a {
    text-decoration-line: none;
  }
  #mainline {
    display: inline-block;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    z-index: 1;
    margin-left: 24px;
    padding: 0;
    width: auto;
    list-style: none;
    vertical-align: top;
  }
  #mainline ul {
    margin: 0;
    width: 140px;
    background-color: #ffffff;
    border-radius: 7px;
    padding-top: 15px;
    padding-left: 0px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 8px 2px rgb(0, 0, 0, 20%);
    position: absolute;
    top: 75px;
    left: 23.2%;
    text-align: center;
    opacity: 0;
  }
  #mainline ul li {
    float: none;
    margin: 0;
    padding: 0;
  }
  
  #mainline ul a {
    font-size: 15px;
    font-family: "gongli";
    color: black;
  }
  
  #mainline ul li:hover a {
    font-weight: bold;
  }
  
  #mainline li:hover ul {
    opacity: 1;
  }
  
  #mainline li:hover ul li {
    height: 30px;
    overflow: visible;
    padding: 0;
  }
  
  /* body  */
  
  h1 {
    text-align: center;
    margin-top: 257px;
    font-family: "gongli";
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    font-family: "gongli";
    margin-top: 63px;
  }
  
  #product-label {
    position: relative;
    bottom: 186px;
  }
  
  #preview-image {
    position: relative;
    left: 36px;
    width: 313px;
    height: 200px;
    object-fit: cover;
  }
  #input_image {
    position: relative;
    bottom: 182px;
    width: 216px;
    height: 34px;
    border: solid 2px;
    margin-left: 10px;
  }
  .input-file-button {
    position: relative;
    bottom: 179px;
    left: 50px;
    cursor: pointer;
    padding: 6px 25px;
    background-color: #008299;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  #ext_label {
    position: relative;
    bottom: 144px;
    right: 60px;
    color: lightgray;
    font-family: "nanum";
    font-size: 15px;
  }
  form input::file-selector-button {
    display: none;
  }
  
  .title-container {
    position: relative;
    top: 43px;
  }
  #title {
    width: 400px;
    height: 23px;
    margin-left: 81px;
  }
  
  .detail-content-container {
    position: relative;
    top: 86px;
  }
  #detaile-content {
    position: relative;
    right: 2px;
    bottom: 134px;
  }
  #detaile-content-area {
    position: relative;
    left: 51px;
    resize: none;
  }
  
  .period-container {
    position: relative;
    top: 129px;
  }
  #from {
    position: relative;
    bottom: 3px;
    width: 160px;
    height: 23px;
    margin-left: 79px;
  }
  #period {
    position: relative;
    top: -2px;
    margin-left: 15px;
    margin-right: 15px;
  }
  #to {
    position: relative;
    bottom: 3px;
    width: 160px;
    height: 23px;
  }
  
  .goal-money-container {
    position: relative;
    top: 172px;
  }
  #goal-money-input {
    position: relative;
    bottom: 3px;
    width: 160px;
    height: 23px;
    margin-left: 51px;
  }
  
  .product-container {
    position: relative;
    top: 280px;
  }
  #product-name {
    position: relative;
    bottom: 3px;
    width: 255px;
    height: 23px;
    margin-left: 80px;
  }
  #product-plus {
    margin-left: 137px;
  }
  #product-plus,
  #product-minus {
    position: relative;
    bottom: 3px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #008299;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  
  .product-count-container {
    position: relative;
    top: 323px;
  }
  #product-count {
    position: relative;
    bottom: 3px;
    width: 170px;
    height: 23px;
    margin-left: 80px;
  }
  .product-price-container {
    position: relative;
    top: 366px;
  }
  #product-price {
    width: 170px;
    height: 23px;
    margin-left: 80px;
  }
  .product-category-container {
    position: relative;
    top: 409px;
  }
  #product_category {
    position: relative;
    left: 50px;
    width: 180px;
    height: 27px;
  }
  
  .product-checkbox-container {
    position: relative;
    top: 452px;
  }
  #ealry-bird-box {
    position: relative;
    top: 3px;
  }
  #general-sale {
    position: relative;
    top: 3px;
    margin-left: 35px;
  }
  
  .detail-image-container {
    position: relative;
    top: 517px;
  }
  #detail_image {
    border: solid 1px gray;
    width: 175px;
    height: 27px;
    margin-left: 35.5px;
  }
  #detail-image-label {
    position: relative;
    top: 4px;
    height: 18px;
    padding: 6px 25px;
    background-color: #008299;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
  }
  #ext_label_two {
    position: relative;
    right: 304px;
    top: 38px;
    color: lightgray;
    font-family: "nanum";
    font-size: 15px;
  }
  
  .register-modify-container {
    position: relative;
    top: 622px;
    text-align: center;
    margin-bottom: 360px;
  }
  #register-button,
  #modify-button {
    font-family: "gongli";
    font-size: 16px;
    padding: 16px 25px;
    background-color: #008299;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: none;
  }
  #modify-button {
    margin-left: 50px;
  }
  
  /* footer */
  /* .footer {
    display: inline-block;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    left: 17%;
    padding-top: 50px;
    padding-bottom: 25px;
    height: 150px;
    position: relative;
    top: 400px;
    margin-bottom: 300px;
  }
  
  .footer h3 {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    padding-bottom: 20px;
    font-family: "gongli";
    font-weight: bold;
    font-size: 20px;
  }
  .footer p {
    line-height: 10px;
    font-family: "nanum";
  }
  #footer-hr {
    position: relative;
    top: 450px;
  } */
  
  /* body 시작 */
  .body-container {
    display: flex;
  }
  
  /* 헤더 */
  /* header */
  .title {
    position: absolute;
    /* margin-top: -63px; */
    /* margin-bottom: -30px; */
    top: 16px;
    /* left: 0; */
    width: 300px;
    /* height: 250px; */
    object-fit: cover;
  }
  
  .nav_menu {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #008299;
    margin: 0px;
    margin-top: -26px;
    z-index: 100;
  }
  
  ._menu {
    font-family: "main";
    font-size: 55px;
    color: white;
    text-decoration-line: none;
    position: absolute;
    top: 25%;
    left: 5%;
  }
  
  .nav_menu li {
    float: left;
  }
  
  .category_menu {
    font-family: "gong";
    font-size: 20px;
    color: white;
    text-decoration-line: none;
    position: absolute;
    top: 50%;
    left: 25%;
  }
  
  .all_menu {
    font-family: "gong";
    font-size: 20px;
    color: white;
    text-decoration-line: none;
    position: absolute;
    top: 50%;
    left: 32%;
  }
  
  .funding_menu {
    font-family: "gong";
    font-size: 20px;
    color: white;
    text-decoration-line: none;
    position: absolute;
    top: 50%;
    left: 37%;
  }
  
  .earlybird_menu {
    font-family: "gong";
    font-size: 20px;
    color: white;
    text-decoration-line: none;
    position: absolute;
    top: 50%;
    left: 44%;
  }
  
  .all_menu:hover,
  .funding_menu:hover,
  .earlybird_menu:hover,
  .category_menu:hover {
    color: black;
    transition: color 0.2s;
  }
  
  ul li {
    list-style: none;
    padding-inline-start: 0px;
  }
  
  a {
    text-decoration-line: none;
  }
  
  #mainline {
    display: inline-block;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    z-index: 1;
    margin-left: 24px;
    padding: 0;
    width: auto;
    list-style: none;
    vertical-align: top;
  }
  
  #mainline ul {
    margin: 0;
    width: 140px;
    background-color: #ffffff;
    border-radius: 7px;
    padding-top: 15px;
    padding-left: 0px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 8px 2px rgb(0, 0, 0, 20%);
    position: absolute;
    top: 75px;
    left: 23.2%;
    text-align: center;
    opacity: 0;
    z-index: 2;
  }
  
  #mainline ul li {
    float: none;
    margin: 0;
    padding: 0;
  }
  
  #mainline ul li span {
    font-size: 15px;
    font-family: "gongli";
    color: black;
    cursor: pointer;
  }
  
  #mainline ul li:hover a {
    font-weight: bold;
  }
  
  #mainline li:hover ul {
    opacity: 1;
  }
  
  #mainline li:hover ul li {
    height: 30px;
    overflow: visible;
    padding: 0;
  }
  
  /*login*/
  .main_login {
    font-family: "nanum";
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 55%;
    left: 85%;
  }
  
  .main_signup {
    font-family: "nanum";
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 55%;
    left: 90%;
  }
  
  #wrap {
    position: absolute;
    left: 80%;
    top: 48%;
  }
  
  #wrap input[type="text"] {
    height: 20px;
    font-size: 15px;
    font-family: "nanum";
    border: none;
    border-radius: 15px;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 3px;
    padding-left: 30px;
    padding-right: 20px;
    width: 0px;
    position: absolute;
    right: 15px;
    background: none;
    z-index: 3;
    transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    cursor: pointer;
  }
  
  #wrap input[type="text"]:focus {
    width: 170px;
    z-index: 1;
    cursor: text;
    position: absolute;
    right: 40px;
    background-color: white;
  }
  
  #wrap input[type="submit"] {
    height: 20px;
    width: 30px;
    color: red;
    float: right;
    background: url("search.svg") no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 2;
    cursor: pointer;
    transition: opacity 0.4s ease;
  }
  
  #wrap input[type="submit"]:hover {
    opacity: 0.4;
  }
  
  /*footer*/
  
  .footer {
    /* width: 100%;
    bottom: 0;
    left: 17px;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 20px;
    height: 180px; */
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    left: 17%;
    width: 60%;
    padding-top: 50px;
    position: absolute;
    height: 150px;
    position: relative;
    top: 400px;
    padding-bottom: 50px;
  }
  
  .footer hr {
    text-align: center;
    width: 95%;
    margin-top: 90px;
    margin-left: 45px;
    border-color: #f2f4f641;
  }
  
  #footer-hr {
    position: relative;
    top: 460px;
  }
  
  .footer h3 {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    padding-bottom: 15px;
    font-family: "gongli";
    font-weight: bold;
  }
  
  .footer p {
    line-height: 10px;
    font-family: "nanum";
  }